<!DOCTYPE html>
<html lang="en">
<%- include('include/head'); %>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <div id="content">
                <div class="container-fluid">
                        <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-primary">Data Anggota</h6>
                        </div>
                        <div class="card-body">
                            <form class="form-horizontal row-border" action="/e/anggota/<%=data.id%>" method="post" enctype="multipart/form-data">
                                <div class="form-group">
                                  <label class="col-md-2 control-label">Nama</label>
                                  <div class="col-md-10">
                                    <input class="form-control" required type="text" value="<%=data.nama%>" name="nama" id="">
                                  </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">NOSIS</label>
                                    <div class="col-md-10">
                                      <input class="form-control" required type="text" value="<%=data.nosis%>" name="nosis" placeholder="nosis" id="">
                                    </div>
                                </div>

                                <div class="form-group col-md-6 col-sm-6 col-xs-12">
                                    <label class="control-label">Jenis Kelamin</label>
                                    <select class="form-control col-md-10" id="kelamin" name="kelamin">
                                        <option value="">--- Silahkan Pilih ---</option>
                                        <option value="PRIA">Pria</option>
                                        <option value="PEREMPUAN">Perempuan</option>
                                    </select>
                                </div>
                                
                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tempat Lahir</label>
                                    <div class="col-md-10">
                                      <input class="form-control" required type="text" value="<%=data.tmp_lhr%>" name="tmp_lahir" placeholder="Tempat Lahir" id="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Tanggal Lahir</label>
                                    <div class="col-md-10">
                                      <input class="form-control" type="date" value="<%=data.tgl_lahir%>" name="tgl_lahir" id="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Asal Polda</label>
                                    <div class="col-md-10">
                                      <input class="form-control" required type="text" value="<%=data.asal_polda%>" name="asal_polda" id="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Nomor HP</label>
                                    <div class="col-md-10">
                                      <input class="form-control" required type="number" value="<%=data.no_hp%>" name="hp" id="">
                                    </div>
                                </div>

                                <div class="form-group">
                                    <label class="col-md-2 control-label">Alamat</label>
                                    <div class="col-md-10">
                                      <input class="form-control" required type="text" value="<%=data.alamat%>" name="alamat" id="">
                                    </div>
                                </div>

                                <div class="d-grid gap-2 col-6 mx-auto">
                                    <input class="btn btn-outline-primary" type="submit" value="Edit">
                                </div>
                            </form>
                        </div>
                    

                    </div>

                    

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2021</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>

    <%- include('include/close'); %>

</body>

</html>



<!-- <%- include('../include/header'); %>
    <title>Edit Anggota</title>
</head>
<body>
    <%- include('../include/alert'); %>
    <form action="/e/anggota/<%=data.id%>" method="post">
        <input required type="text" value="<%=data.nama%>" name="nama" placeholder="Nama" id="">
        <input required type="text" value="<%=data.nosis%>" name="nosis" placeholder="nosis" id="">
        <label for="kelamin">Jenis Kelamin:</label>
        <select id="kelamin" name="kelamin">
          <option value="PRIA">P</option>
          <option value="PEREMPUAN">W</option>
        </select>
        <input required type="text" value="<%=data.tmp_lhr%>" name="tmp_lahir" placeholder="Tempat Lahir" id="">
        <input required type="date" value="<%=data.tgl_lahir%>" name="tgl_lahir" id="">
        <input required type="text" value="<%=data.asal_polda%>" name="asal_polda" placeholder="Asal Polda" id="">
        <input required type="text" value="<%=data.no_hp%>" name="hp" placeholder="Nomor Hp" id="">
        <input required type="text" value="<%=data.alamat%>" name="alamat" placeholder="Alamat" id="">
        <input required type="submit" value="Update">
    </form>
</body>
</html> -->
