<!DOCTYPE html>
<html>
  <%- include('include/header'); %>
<body id="body">
    <%- include('include/alert'); %>
  <header class="navigation fixed-top">
    <div class="container">
      <%- include('include/navbar'); %>
    </div>
  </header>

	<div id="home" class="hero-slider"style="width: 100%;">
	<div width="100%" class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-1.jpg);width: 100%;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".1">Selamat Datang <br> SPN Polda Metro Jaya</h1>
					<p data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".5">Selamat datang, ini adalah website resmi SPN Polda Metro Jaya  <br>Pelopor Sekolah Polisi Negara Seluruh Indonesia.</p>
					<a data-duration-in=".3" data-animation-in="fadeInUp" data-delay-in=".8" class="btn btn-main" href="#sambutan">Sambutan</a>
				</div>
			</div>
		</div>
	</div>
	<div width="100%" class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider-bg-2.jpg);width: 100%;">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">E-Library <br> SPN Polda Metro Jaya</h1>
					<p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Aplikasi E-Library adalah aplikasi perpustakaan berbasis website
						<br> buku adalah sumber dari ilmu pengetahuan </p>
					<a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8"  class="btn btn-main" href="/login">LOGIN E-LIBRARY</a>
				</div>
			</div>
		</div>
	</div>
	<div class="slider-item th-fullpage hero-area" style="background-image: url(images/slider/slider.jpg);width: 100%;">
		<div class="container">
		  <div class="row">
			<div class="col-md-12 text-center">
			  <h1 data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".1">Pelopor SPN  <br> Penjuru Negeri</h1>
			  <p data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".5">Aplikasi E-Library adalah aplikasi perpustakaan berbasis website
				<br> buku adalah sumber dari ilmu pengetahuan </p>
			  <a data-duration-in=".3" data-animation-in="fadeInDown" data-delay-in=".8"  class="btn btn-main" href="#">LOGIN E-LIBRARY</a>
			</div>
		  </div>
		</div>
	  </div>
</div>

<div id="sambutan"><br></div>
<section class="service-2 section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 text-center">
        <img src="images/about/kaspn.png" style="height:100%;  width: 100%;" class="inline-block" alt="">
      </div>
      <div class="col-md-6">
          <h5>Sambutan</h5>
          <h2>Kepala Sekolah </h2>
          <p>Puji syukur kita panjatkan kehadirat Tuhan Yang Maha Esa yang telah menganugrahkan ide-ide cemerlang dan mampu menuliskannya ke dalam buku Panduan E-LIBRARY  yang  merupakan program prioritas Lemdiklat Polri sebagai transformasi Pendidikan Polri yang mewujudkan “KAMPUS SEBAGAI PUSAT UNGGULAN DI SPN PMJ”.

			<p>Dengan goresan pena sabagai bentuk pengabdian diri sebagai generasi anak bangsa, mendorong kami untuk terus berbenah diri. </p>
			
			<p>Sebagai sebuah harapan, semoga dengan terbitnya               BUKU PANDUAN E-LIBRARY SPN PMJ akan menjadi fokus penting dalam rangka mempersiapkan sumber daya manusia yang unggul di Era Revolusi Industri 4.0 menuju masyarakat 5.0. 
			</p>
			
			<p>Salam “TRIBRATA”.</p>
			<p><strong>KA SPN Polda Metro Jaya <br>KOMBES POL. TONY HARSONO, S.IK., M.Si</strong></p>
        
        </div>
      </div>
    </div> 
  </div> 
</section> 
<section class="blog" id="program">
	<div class="container">
		<div class="row">
			<div class="col-12">
				<div class="title text-center ">
					<h2>Program Unggulan SPN Polda Metro Jaya</h2>
					<div class="border"></div>
				</div>
			</div>
			<article class="col-md-4 col-sm-6 col-xs-12 ">
        <div class="">
          <div class="">
         <iframe width="350" height="263" src="https://www.youtube.com/embed/tF-Ok9mA7k0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>  
          </div>
        </div>
      </article>
			<article class="col-md-4 col-sm-6 col-xs-12 ">
				<div class="">
					<div class="">
					<iframe width="350" height="263" src="https://www.youtube.com/embed/FyFYJlDJCKg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>	
					</div>		
				</div>
			</article>
			<article class="col-md-4 col-sm-6 col-xs-12 ">
        <div class="">
          <div class="">
          <iframe width="350" height="263" src="https://www.youtube.com/embed/XQCKOZzTJe0" title="YouTube video player"frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" ></iframe>        
          </div>    
        </div>
      </article>
		</div> 
	</div> 
</section> 
<section class="call-to-action section">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center"><br><br><br>
				<h2>Sehat <strong style="margin: 1%;">Efektif</strong>  Berkualitas</h2>
				<a href="about.html" class="btn btn-main">Tentang Kami</a>
			</div>
		</div> 		
	</div>   	
</section>   

<section class="service-2 section"id="lokasi">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="title text-center ">
					<h2>Lokasi</h2>
					<div class="border"></div>
				</div>
				<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3962.255322566042!2d106.81699011477185!3d-6.73867689512862!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x2e69cb738b021847%3A0x31a531850e2c77eb!2sSPN%20Lido%20Polda%20Metro%20Jaya!5e0!3m2!1sid!2sid!4v1636102156586!5m2!1sid!2sid" width="100%" height="90%" style="border:0;padding-bottom: 10%;" allowfullscreen="" loading="lazy"></iframe>
				<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>	
			</div>
			
		</div> 
	</div> 
</section>   
<%- include('include/footer'); %>
<%- include('include/close'); %>
  </body>
  </html>
